{{ theme:partial name="header" }}

<body>
    <!--[if lt IE 8]>
      <p class="chromeframe">Używasz <strong>prehistorycznej</strong> przeglądarki,
    co stwarza <strong>realne zagrożenie dla Ciebie </strong> i wszystkich
    informacji jakie zamieszczasz w sieci.
      Ochoczo zalecam <a href="//browsehappy.com/">aktualizację</a>
      lub <a href="//www.google.com/chromeframe/?redirect=true">aktywację
    Google Chrome Frame</a>.
      Aktualna przeglądarka to podstawa prawidłowego wyświetlania stron i
    bezpiecznego korzystania z internetu.</p>
    <![endif]-->
    {{ theme:partial name="topbar_nav" }}
    <div id="main-container">
        {{ theme:partial name="sidebar_nav" }}
        <article class="clearfix"><!--żeby float zachowywał wysokość kontenera-->
            <noscript>
            <p>Strona wymaga przeglądarki z włączoną obsługą JavaScript.</p>
            </noscript>
            <!--content start-->
            {{ template:body }}
        </article>
        {{ theme:partial name="footer" }}
    </div>
    {{ theme:partial name="bottom_scripts" }}
</body>
</html>